.content {
  margin-top: 0.5rem;

  height: 40vh;
  width: 100vw;
  /* max-height: 450px; */
  overflow-y: hidden;
  overflow-x: scroll;
  /* overflow: auto;  */
  white-space: nowrap;
  display: flex;
  align-items: center;
  /* justify-content: flex-start;  */
}

.col {
  border: 1px solid rgba(48, 48, 48, 0.144);
  border-radius: 10px;
  height: 35vh;
  width: 35vh;
  margin: 0.5rem;
  /* display: inline-block; */
  flex-basis: 250px;
  flex-grow: 0;
  flex-shrink: 0;
}

.content-one {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  align-items: flex-start;
  margin-bottom: 0.9rem;
}

.content-one > h3 {
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}

.content-one > p {
  height: 5vh;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
}
.content-two {
  height: 15%;
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
}

.content-btn {
  border-radius: 5px;
  width: 100%;
  border: 2px solid rgba(80, 80, 80, 0);
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: bolder;
  background-color: rgb(64, 175, 101);
}
