.footerbar {
  border-top: 1px solid rgba(53, 53, 53, 0.192);
  background-color: rgb(240, 240, 240);
  width: 100vw;
  padding: 0.4rem 0;
  position: fixed;
  bottom: 0;
  display: flex;
  height: 40px;
  justify-content: space-evenly;
}

.footer-text {
  font-size: 0.7rem;
}

.footer-icon {
  font-size: 1.5rem;
}

.flex-col * {
  color: rgb(117, 117, 117);
}
.active * {
  color: black;
}
