.footerbar {
  border-top: 1px solid rgba(53, 53, 53, 0.192);
  background-color: rgb(240, 240, 240);
  width: 100vw;
  padding: 0.4rem 0;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

.footer-text {
  font-size: 0.7rem;
}

.footer-icon {
  font-size: 1.5rem;
  color: rgb(80, 79, 79);
}

.black {
  color: black;
}
