.UserDetails-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UserDetails-title {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.UserDetails-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea::-webkit-input-placeholder {
  color: rgba(92, 92, 92, 0.322);
}

.DetailsPage-txt-area {
  border-radius: 10px;
  border-color: rgba(92, 92, 92, 0.322);
  display: block;
  padding: 0.5rem;
  width: 86vw;
  height: 15vh;
  margin: 0.3rem;
  resize: none;
  font-size: 1.1rem;
  font-family: "Inter", sans-serif;
}
.char-remain {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 4.5rem;
}
.btn-container {
  width: 100vw;
  display: flex;
}
.UserDetails-header {
  display: flex;
  width: 98vw;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.text-info-User {
  display: flex;
  flex-direction: column;
  width: 90vw;
  justify-content: flex-start;
  text-align: start;
  align-items: flex-start;
}

.Details-txt {
  font-size: 1.5rem;
}

.img-contain {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 9rem;
  width: 9rem;
  margin-bottom: 2rem;
}

.UserDetails-avatar {
  color: rgb(43, 43, 43);
  font-size: 5rem;
}

.Login-btn {
  border: 1px solid transparent;
  background-color: rgb(77, 214, 123);
  border-radius: 5px;
  width: 45vw;
  padding: 0.7rem 0;
  font-size: 1.1rem;
  margin-top: 1rem;
}
